h1 {
  font-family: "Montserrat", system-ui;
  color: #6c5b7c;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  line-height: 48px;
}
p {
  font-family: "Montserrat", system-ui;
  color: #6c5b7c;
}
body {
  background-color: #93e4c1;
}

.current-weather-temperature {
  position: relative;
  display: flex;
  left: 450px;
  bottom: 70px;
  width: 100;
  font-size: 45px;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: #fdfdcb;

  padding: 20px;
  border-radius: 15px;
}

.search-button {
  background-color: #f8b595;
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
}
.search-input {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #f8b595;
  color: black;
  font-size: 18px;
}
img {
  position: relative;
  display: flex;
  left: 450px;
  bottom: 70px;
  width: 100;
  font-size: 45px;
}
