h1 {
  font-family: "Montserrat", system-ui;
  color: #6c5b7c;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  line-height: 48px;
}
p {
  font-family: "Montserrat", system-ui;
  color: #6c5b7c;
  line-height: 20px;
}
body {
  background-color: #93e4c1;
}

.temperature-value {
  position: relative;
  display: flex;
  left: 450px;
  bottom: 190px;
  width: 100;
  font-size: 45px;
  color: #6c5b7c;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: #fdfdcb;

  padding: 20px;
  border-radius: 15px;
}

.search-button {
  background-color: #f8b595;
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: brown;
  cursor: pointer;
}
.input-city {
  margin: 10px 0;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #f8b595;
  color: black;
  font-size: 18px;
}
img {
  position: relative;
  display: flex;
  left: 450px;
  bottom: 175px;
  width: 100;
  font-size: 45px;
}
strong {
  color: #ff487e;
}
footer {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  color: brown;
}
.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0 auto;
  margin-bottom: 20px;
}

.weather-forecast-date {
  text-align: center;
  color: black;
  font-size: 15px;
}
.forecast-icon {
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  color: #ff487e;
}
.weather-forecast-temperature,
.extreme {
  padding: 0 9px;
}
