h1 {
  font-family: "Montserrat", system-ui;
  color: black;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
  line-height: 48px;
}
p {
  font-family: "Montserrat", system-ui;
  color: black;
  line-height: 20px;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/144/298/original/363B6439-F572-4F23-A911-8944FD586F85.jpeg?1726776316");
  background-repeat: no-repeat;
  background-size: cover;
}

.temperature-value {
  position: relative;
  display: flex;
  right: -70px;
  bottom: 40px;
  width: 100;
  font-size: 49px;
  color: black;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: #3baea0;

  padding: 20px;
  border-radius: 15px;
}

.search-button {
  background-color: #93e4c1;
  color: black;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: #118a7e;
  cursor: pointer;
}
.input-city {
  margin: 10px 0;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #93e4c1;
  color: black;
  font-size: 18px;
}
icon {
  position: relative;
  display: flex;
  left: 450px;
  bottom: 175px;
  width: 100;
  font-size: 45px;
}
strong {
  color: #be3144;
}
footer {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  color: #be3144;
}
.weather-forecast {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0 auto;
  margin-bottom: 20px;
}

.weather-forecast-date {
  text-align: center;
  color: black;
  font-size: 20px;
}
.forecast-icon {
  width: 80px;
  height: 80px;
  margin: auto;
  display: block;
  unicode-bidi: isolate;
}

.weather-forecast-temperatures {
  text-align: center;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  color: #be3144;
}
.weather-forecast-temperature,
.extreme {
  padding: 0 9px;
}
